node_modules
.env
.replit
.replitignore
replit.md
dist
!artifacts/api-server/dist/index.cjs
build
.cache
*.log
.gemini
artifacts/api-server/node_modules
artifacts/grocery-app/node_modules
lib/db/node_modules
